<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script data-require="google-maps@*" data-semver="1.0.0" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <script data-require="lodash.js@*" data-semver="3.5.0" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js"></script>
    <script src="angular-google-maps.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
</head>

<body ng-controller="REMapController">
    <h1>Real Estate Statistics</h1>

    {{greetMe}}

    <ui-gmap-google-map 
        center="map.center" 
        zoom="map.zoom"
        events="map.eventHandlers">

    </ui-gmap-google-map>
</body>

</html>
